<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Webhook Proxy</title>
</head>
<body>

<h1>Trello Webhook Management</h1>

<h2>Register New Webhook</h2>
<form action="/register" method="post">
  <label>
    Model ID to Watch:
    <input type="text" name="idToWatch" size="30">
  </label>
  <br/>
  <br/>
  <label>
    Name for Webhook:
    <input type="text" name="webhookName" size="20">
  </label>
  <br/>
  <br/>
  <button type="submit">Register Trello Webhook</button>
</form>
<hr/>
<h2>Delete Existing Webhook</h2>
<ul>
  <li th:each="webhook : ${ webhooks }" style="font-family: monospace">
    Webhook ID: <span th:text="${webhook.id}">webhookid</span>
    - <span th:text="${webhook.callbackURL}">url</span>
    - Watched Model ID: <span th:text="${webhook.idModel}">idmodel</span>
  </li>
</ul>
<form action="/delete" method="post">
  <label>
    Webhook ID:
    <input type="text" name="webhookId" size="30">
  </label>
  <br/>
  <br/>
  <button type="submit">Delete Webhook</button>
</form>

</body>
</html>